{% extends 'security_layout.html.twig' %}

{% block title %}Securité{% endblock %}

{% block body %}
    <div class="connexion">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img src="{{ absolute_url(asset('images/logo.png')) }}" alt="" class="img-fluid">
                </div>
                <h4 class="card-title text-center text-uppercase fw-bold mt-3" style="">Connexion</h4>
                <form method="post" class="form">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="form-group row">
                        <div class="col-12 mt-3">
                            <label for="username">Email</label>
                            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="col-12 mt-3">
                            <label for="password">Password</label>
                            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                        </div>
                        <div class="col-12 form-check mt-3 ms-3">
                            <input class="form-check-input" type="checkbox" value="" name="_remember_me" id="_remember_me">
                            <label class="form-check-label" for="_remember_me">
                                Se souvenir de moi
                            </label>
                        </div>
                        <div class="col-12 mt-4 d-grid">
                            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                            <button type="submit" class="btn btn-success">Connexion</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
