{% extends 'base.html.twig' %}
{% block extra_title %}Tableau de bord {% endblock %}
{% block body %}
    <section class="section flot-cars" id="flotCars">
        <div class="section-head d-flex justify-content-between align-items-center">
            <h1 class="section-title">Mes véhicules</h1>
            {% if vehicules %}
                <a href="{{ absolute_url(path('app_vehicule_index')) }}" class="btn btn-outline-success btn-sm">
                    <i class="bi bi-list"></i> Liste des vehicules
                </a>
            {% else %}
                <a href="{{ absolute_url(path('app_vehicule_new')) }}" class="btn btn-success btn-sm">
                    <i class="bi bi-plus"></i> Ajouter un vehicule
                </a>
            {% endif %}

        </div>

        <div class="row row-cols-2 g-3">
            {% for liste in vehicules|slice(0,2) %}
                <div class="col mt-3">
                    <a href="#">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <i class="bi bi-car-front-fill" style="color: {{ liste.vehicule.couleur }}; font-size: 3.5rem;"></i>
                            </div>
                            <div class="card-footer text-center">
                                {{ liste.vehicule.marque.nom }} - {{ liste.vehicule.immatriculation }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>

    </section>

    <section class="section statistiques">
        <div class="section-head d-flex justify-content-between align-items-center">
            <h1 class="section-title">Mois encours</h1>
            <a href="{{ absolute_url(path('app_portefeuille_stats')) }}" class="btn btn-outline-success btn-sm">
                <i class="bi bi-list"></i> Voir le portefeuille
            </a>
        </div>

        <div class="row row-cols-12 g-2">
            <div class="col mt-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="valeur">{{ recette_mois|montant_abbr }}<span> FCFA</span></div>
                            <div class="icon"><i class="bi bi-piggy-bank"></i></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <label>Recettes</label>
                            <a
                                href="#"
                                data-action="portefeuille-list#affichageList"
                                data-portefeuille-list-url-value="{{ path('app_portefeuille_liste') }}"
                                data-portefeuille-list-type-value="entree"
                                data-portefeuille-list-periode-value="mois_encours"
                                class="details"
                            >
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mt-3">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="valeur">{{ depense_mois|montant_abbr }}<span> FCFA</span></div>
                            <div class="icon"><i class="bi bi-cash-stack"></i></div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <label>Dépenses</label>
                            <a
                                href="#"
                                data-action="portefeuille-list#affichageList"
                                data-portefeuille-list-url-value="{{ path('app_portefeuille_liste') }}"
                                data-portefeuille-list-type-value="sortie"
                                data-portefeuille-list-periode-value="mois_encours"
                                class="details"
                            >
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section graphismes">
        <div class="section-head d-flex justify-content-between align-items-center">
            <h1 class="section-title">Graphismes</h1>
            <a href="#" class="section-link">Voir plus...</a>
        </div>

        <div class="row">
            <div class="col mt-3">
                <div class="card">
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block header %}
    <div class="top-head d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <button class="btn" title="Menu" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i
                    class="bi bi-list"></i></button>

            <a href="#" class="">
                <h1 class="icon g-logo">G-VTC</h1>
            </a>

        </div>
        <div class="icons">
            <div class="position-relative">
                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-bell"></i>
                    <span
                        class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">Notifications</span> </span></a>
            </div>

            <div class="dropdown-center">
                <a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                   title="Notifications">
                    <i class="bi bi-person-circle"></i>
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <hr>
                    <li><a class="dropdown-item" href="{{ absolute_url(path('app_logout') )}}">Deconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="search input-group mb-3">
        <input type="text" class="form-control" placeholder="Recherche" aria-label="Recherche"
               aria-describedby="button-addon2">
        <button class="btn btn-o-search" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
    </div>
{% endblock %}
