{{ form_start(form) }}
<div class="row form-group">
    <div class="col-12 mt-3">{{ form_row(form.email) }}</div>
    <div class="col-12 mt-3">{{ form_row(form.password) }}</div>
    <div class="col-12 mt-3">
        {% for role in form.roles %}
            <div class="form-check">
                {{ form_widget(role,{"attr":{"class":"form-check-input"}}) }}
                {{ form_label(role) }}
            </div>
        {% endfor %}
    </div>
    <div class="col-12 mt-5 text-end">
        {{ form_widget(form) }}
        <a href="{{ absolute_url(path('app_admin_user_index')) }}" class="btn btn-outline-success">Annuler</a>
        <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    </div>
</div>

{{ form_end(form) }}
